@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.student-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

.student-image {
  display: inline;
  border: 1px solid black;
  border-radius: 100%;
  width: 10vw;
}

.student {
  display: inline-flex;
  border-bottom: 1px solid black;
  padding: 2vw;
  margin-bottom: 1vw;
}

.name {
  font-weight: bold;
  font-size: 3em;
}
